.header {
   margin: 0;
   .example-spacer {
      flex: 1 1 auto;
   }
   span{
      font-size: 32px;
   }
   button { 
      background-color: rgb(250, 61, 61);
      margin: 0 10px 0;
      color: white;
      min-width: 100px; 
      height: 50px;
      font-size: large;
      padding: 5px;
   }
}

@media only screen and (min-width: 425px) {
   body {
      mat-typopography {
         .header { 
            min-height: 70px;
            button { 
               background-color: rgb(250, 61, 61);
               margin: 0 10px 0;
               color: white;
               min-width: 60px; 
               height: 40px;
               padding: 5px;
               font-size: 16px;
            }
         }
         .footer {
            mat-toolbar {
               width: 100%;
               position: absolute;
            }
         }
      }
   }
}