<div class="container">
   <form class="form-container" [formGroup]="userForm" (ngSubmit)="submitForm()">
      <mat-form-field appearance="outline">
         <mat-label>First Name</mat-label>
         <input matInput type="text" formControlName="firstName">
         <div class="string-check" *ngIf="userForm.controls['firstName'].errors?.['pattern']">
            Only string values are allowed.
         </div>
      </mat-form-field>
      

      <mat-form-field appearance="outline">
         <mat-label>Last Name</mat-label>
         <input matInput type="text" formControlName="lastName">
         <div class="string-check" *ngIf="userForm.controls['lastName'].errors?.['pattern']">
            Only string values are allowed.
         </div>
      </mat-form-field>

      <mat-form-field appearance="outline">
         <mat-label>Profession</mat-label>
         <input matInput placeholder="Proffession" type="text" formControlName="profession">
         <div class="string-check" *ngIf="userForm.controls['profession'].errors?.['pattern']">
            Only string values are allowed.
         </div>
      </mat-form-field>

      <mat-form-field>
         <mat-label>Gender</mat-label>
         <mat-select formControlName="gender">
            <mat-option value="male">Male</mat-option>
            <mat-option value="female">Female</mat-option>
         </mat-select>
      </mat-form-field>

      <mat-form-field>
         <mat-label>Select Age</mat-label>
         <mat-select placeholder="Age" formControlName="age">
            <mat-option *ngFor="let age of ages" [value]="age">
               {{ age }}
            </mat-option>
         </mat-select>
      </mat-form-field>
      <div class="button-container">
         <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid">Add</button>
         <button mat-raised-button color="warn" type="button"><a style="text-decoration: none; color:white;"  routerLink="/">Cancel</a></button>
      </div>
   </form>
</div>